doctype html
html(lang="en")
  head
    title Support Your Hood
  body
    h1 Support Your Hood
    h2= neighborhood
    form(action="/subscribe")
      input(name="email", type="email", required)
      button Subscribe
